---
- name: Create Kubernetes addon directory
  file:
    path: "{{ network_dir }}"
    state: directory

- name: install calico cni
  block:
    - name: "Copy {{ network }} YAML files"
      template:
        src: "{{ item }}"
        dest: "{{ network_dir }}/{{ item | basename | regex_replace('\\.j2','') }}"
      with_fileglob:
        - ../templates/{{ network }}*.j2
      when: network == "calico"

    - name: "Check {{ network }} daemonset is working"
      shell: kubectl --kubeconfig={{ kubeadmin_config }} get ds --all-namespaces | grep {{ network }}
      delegate_to: "{{ groups['master'][0] }}"
      run_once: true
      register: check_net
      ignore_errors: true
      changed_when: false
      when: network == "calico"

    - name: "Create {{ network }} network daemonset"
      when: check_net is failed
      command: kubectl apply --kubeconfig={{ kubeadmin_config }} -f {{ network_dir }}/
      delegate_to: "{{ groups['master'][0] }}"
      run_once: true
  when: network == "calico"

- name: install azure cni
  block:
    - name: "Copy {{ network }} install files"
      template:
        src: "{{ item }}"
        dest: "{{ network_dir }}/{{ item | basename | regex_replace('\\.j2','') }}"
        mode: 0755
      with_fileglob:
        - ../templates/install-azure-cni-plugin.sh.j2

    - name: "install azure cni"
      shell: "{{ network_dir }}/./install-azure-cni-plugin.sh v1.0.32"
  when: network == "azure"
